<div class="container mt-4">
    <div class="row" style="margin-bottom: 10px !important;">
        <div class="col-md-6">
            <input class="form-control" placeholder="Search by course name or instructor name"
                [(ngModel)]="searchText" (ngModelChange)="applyFilter()"/>
        </div>
        <div class="col-md-6">
            <select class="form-select" [(ngModel)]="levelFilter" (ngModelChange)="applyFilter()">
                <option value="">All Levels</option>
                <option>Beginner</option>
                <option>Intermediate</option>
                <option>Advanced</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-3" *ngFor="let item of filteredCourses;trackBy: trackByCourseId">
            <div class="card">
                <iframe [src]="item.sanitizedVideoUrl"></iframe>
                <div class="card-body">
                    <h5>{{item?.courseName}}</h5>
                    <p>{{item?.instructorName}}</p>
                    <p class="text-muted">{{item?.category}}</p>
                    <span class="badge bg-primary">{{item?.level}}</span>
                </div>
                <div class="card-footer d-flex" style="gap: 1rem;">
                    <button class="btn btn-primary" (click)="onClickViewCourse(item?.courseId)">View</button>
                    <button *ngIf="!item?.isEnrolled" class="btn btn-success" (click)="onClickEnrollCourse(item)">Enroll</button>
                    <span *ngIf="item?.isEnrolled" class="badge bg-secondary">Already Enrolled in this course</span>
                </div>
            </div>
        </div>
    </div>
</div>